## 1. Necessary Data Imports

In [1]:
import pandas as pd
import numpy as np
from skmultiflow.data import HyperplaneGenerator
from scipy.stats import norm
import random
import warnings
warnings.filterwarnings('ignore')

## 2.  Normal Non-Drfited Dataset

In [2]:
def gen_hyperplane_data(data_size, n_features, drift_f,mag_change, noise_ratio,sigma ):
    stream=HyperplaneGenerator(random_state=10, n_features=n_features, n_drift_features=drift_f, mag_change=mag_change, noise_percentage=noise_ratio, sigma_percentage=sigma)
    data=stream.next_sample(data_size)
    features=data[0]
    label=data[1]
    data=pd.DataFrame(features)
    label=pd.DataFrame(label)
    col=[]
    for i in range(n_features):
        col_name=('att{}'.format(i))
        col.append(col_name)
    data.columns=col
    label.columns=['output']
    data=pd.concat([data,label],axis=1)
    
    return data

In [3]:
data=gen_hyperplane_data(40000, 10, 0,0,0,0)

In [4]:
data['output'].value_counts()

1    20017
0    19983
Name: output, dtype: int64

In [5]:
data.head()

,att0,att1,att2,att3,att4,att5,att6,att7,att8,att9,output
0,0.685360,0.953393,0.003948,0.512192,0.812621,0.612526,0.721755,0.291876,0.917774,0.714576,1
1,0.142170,0.373341,0.674134,0.441833,0.434014,0.617767,0.513138,0.650397,0.601039,0.805223,0
2,0.908649,0.319236,0.090459,0.300700,0.113984,0.828681,0.046896,0.626287,0.547586,0.819287,0
3,0.856850,0.351653,0.754648,0.295962,0.883936,0.325512,0.165016,0.392529,0.093460,0.821106,1
4,0.384114,0.944261,0.987625,0.456305,0.826123,0.251374,0.597372,0.902832,0.534558,0.590201,1

In [6]:
data.to_csv('hyperplane_nondrifted.csv',index=False)

## 3. Drifted Data

In [103]:
drifted_data=gen_hyperplane_data(1920, 10, 5,0.6,0,0)

In [104]:
drifted_data

,att0,att1,att2,att3,att4,att5,att6,att7,att8,att9,output
0,0.685360,0.953393,0.003948,0.512192,0.812621,0.612526,0.721755,0.291876,0.917774,0.714576,1
1,0.617767,0.513138,0.650397,0.601039,0.805223,0.521647,0.908649,0.319236,0.090459,0.300700,1
2,0.198948,0.856850,0.351653,0.754648,0.295962,0.883936,0.325512,0.165016,0.392529,0.093460,0
3,0.826123,0.251374,0.597372,0.902832,0.534558,0.590201,0.039282,0.357182,0.079613,0.305460,1
4,0.346347,0.043097,0.879915,0.763241,0.878097,0.417509,0.605578,0.513467,0.597837,0.262216,1
...,...,...,...,...,...,...,...,...,...,...,...
1915,0.849341,0.442411,0.238075,0.930455,0.851710,0.134304,0.680624,0.941170,0.695621,0.203228,1
1916,0.333330,0.205006,0.313797,0.816728,0.412498,0.847833,0.961956,0.100099,0.973875,0.380310,0
1917,0.695616,0.735272,0.286571,0.622903,0.656901,0.127594,0.368878,0.212568,0.305806,0.933580,1
1918,0.534210,0.876190,0.020611,0.358940,0.932018,0.659357,0.118251,0.273765,0.597341,0.027397,1
1919,0.895103,0.092100,0.801454,0.083967,0.553833,0.288873,0.660724,0.528452,0.645476,0.437734,0

In [105]:
normal_data=stream[0:640]

In [106]:
normal_data

,att0,att1,att2,att3,att4,att5,att6,att7,att8,att9,output
36000,0.855904,0.753047,0.804241,0.623340,0.608495,0.418715,0.162841,0.105965,0.589660,0.829179,1
36001,0.784414,0.408043,0.259734,0.855947,0.919578,0.984292,0.186262,0.663626,0.482852,0.981291,1
36002,0.658460,0.033933,0.713858,0.378366,0.906390,0.875112,0.190273,0.245564,0.062429,0.841749,1
36003,0.136558,0.231648,0.482025,0.693201,0.245718,0.882909,0.635738,0.522973,0.960885,0.520092,0
36004,0.152298,0.665623,0.595665,0.101269,0.544626,0.456066,0.155814,0.648949,0.516301,0.073947,0
...,...,...,...,...,...,...,...,...,...,...,...
36635,0.951494,0.476701,0.552172,0.828040,0.456279,0.496109,0.966851,0.396181,0.308343,0.829312,1
36636,0.555068,0.071365,0.737286,0.157274,0.709234,0.684155,0.311567,0.193108,0.468293,0.713449,0
36637,0.035984,0.501861,0.336667,0.084933,0.331856,0.486236,0.224939,0.999576,0.079043,0.651163,0
36638,0.615613,0.603593,0.340219,0.464790,0.377229,0.146825,0.702180,0.309994,0.379933,0.908901,0
36639,0.663995,0.236628,0.387093,0.461778,0.249631,0.667732,0.106629,0.137148,0.081733,0.783789,0

In [107]:
drift_stream=pd.concat([normal_data,drifted_data])

In [108]:
drift_stream.reset_index(drop=True)

,att0,att1,att2,att3,att4,att5,att6,att7,att8,att9,output
0,0.855904,0.753047,0.804241,0.623340,0.608495,0.418715,0.162841,0.105965,0.589660,0.829179,1
1,0.784414,0.408043,0.259734,0.855947,0.919578,0.984292,0.186262,0.663626,0.482852,0.981291,1
2,0.658460,0.033933,0.713858,0.378366,0.906390,0.875112,0.190273,0.245564,0.062429,0.841749,1
3,0.136558,0.231648,0.482025,0.693201,0.245718,0.882909,0.635738,0.522973,0.960885,0.520092,0
4,0.152298,0.665623,0.595665,0.101269,0.544626,0.456066,0.155814,0.648949,0.516301,0.073947,0
...,...,...,...,...,...,...,...,...,...,...,...
2555,0.849341,0.442411,0.238075,0.930455,0.851710,0.134304,0.680624,0.941170,0.695621,0.203228,1
2556,0.333330,0.205006,0.313797,0.816728,0.412498,0.847833,0.961956,0.100099,0.973875,0.380310,0
2557,0.695616,0.735272,0.286571,0.622903,0.656901,0.127594,0.368878,0.212568,0.305806,0.933580,1
2558,0.534210,0.876190,0.020611,0.358940,0.932018,0.659357,0.118251,0.273765,0.597341,0.027397,1
2559,0.895103,0.092100,0.801454,0.083967,0.553833,0.288873,0.660724,0.528452,0.645476,0.437734,0

In [109]:
drift_stream.to_csv('hyperplane_drifted.csv',index=False)